.course-card-container{
  max-width: 280px;
  height:400px;
  padding:15px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 4px 1px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-card-top{
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.course-card-top img{
  max-height:200px;
  border-radius: 5px;
  object-fit: cover;
  padding-bottom: 7px;
}
.course-card-container h3{
  font-size:16px;
  color:var(--header-text-color);
  font-weight: 600;
}
.course-card-container h4{
  font-size: 14px;
  color:var(--body-text-color);
  font-weight: 500;
}
.course-card-container p{
  font-size: 12px;
  color:var(--body-text-color);
}


.course-card-bottom{
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.course-card-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-card-bottom i{
  color:red;
  cursor: pointer;
}
.course-card-bottom img{
  width:18px;
  cursor: pointer;
}
.course-card-button{
  height:30px;
  font-size:12px;
  background-color: var(--accent-color);
  color:var(--background-color);
  border-radius:5px;
  border:none;
  cursor: pointer;
}
.course-card-button:hover{
  background-color: var(--accent-hover);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
}

.course-container{
  min-height: calc(100dvh - var(--header-height));
  background-color: var(--background-secondary);
  padding:50px 300px;
}
