.create-container-page{
  min-height:calc(100dvh - var(--header-height));
  background-color: var(--background-secondary);
  padding:40px 300px;
  box-sizing: border-box  ;
}
.create-header{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom:30px;
}
.create-title-input{
  font-size:35px;
  flex:1;
  background-color: transparent;
  border:none;
  color:var(--header-text-color);
}
.create-title-input:focus{
  outline:none;
}
.create-header i{
  color:var(--accent-color);
  font-size:25px; 
}
#addCoverPhoto{
  display: none;
}
.create-add-cover-photo{
  display: flex ;
  align-items: center;
  color:var(--header-text-color);
  font-size:14px;
  column-gap: 5px;
  cursor: pointer;
}
.cover-photo{
  width: 100px;
}

.add-block{
  width: 100%;

  height:4px;
  background-color: var(--accent-color);
  position: relative;
  border-radius: 10px;
}
.add-block div{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  right:50%;
  transform: translate(50%,-50%);
  width: 40px;
  background-color: var(--background-secondary);
  height:40px;
  cursor: pointer;
}
.add-block div i{
  font-size:30px;
  position: absolute;
  color:var(--accent-color);
}
textarea{
  width: 100%;
  font-size:16px;
  font-family: 'Inter';
  background-color: transparent;
  resize: none; 
  overflow: hidden;
  white-space: pre-wrap; 
  border:none;
  outline:none;
}
.menu{
  background-color: white;
  height: max-content;
  width: 150px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.menu-header{
  color:var(--header-text-color);
  padding:5px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-size:16px;
  font-weight: 500;
}
.menu-body{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding:5px 12px;
  color:var(--body-text-color);
  font-size: 14px;
}
.menu-body div{
  cursor: pointer;
  display: flex;
  column-gap: 7px;
}
.menu-body div:hover{
  color:var(--header-text-color);
}