.header-container{
  position: fixed;
  height:4rem;
  width:100%;
  display: flex;
  align-items: center;justify-content: space-between;
  padding:0px 300px;
  box-sizing: border-box;
  background-color: var(--background-color);
}
.header-left{
  display: flex;
  column-gap: 30px;
  align-items: center;
  font-size:14px;
}
.header-text{
  color:var(--body-text-color);
  cursor: pointer;
}
.header-active{
  color:var(--header-text-color);
  cursor: pointer;
}
.header-right{
  display: flex;
  align-items: center;
}
.header-login,.header-signup{
  font-size:12px;
  height: 30px;
  width:100px;
  border-radius: 5px;
  cursor: pointer;
}
.header-login{
  background-color: var(--accent-color);
  color:white;
  border:none;
}
.header-signup{
  background-color: transparent;
  border:1px solid var(--accent-color);
  color:var(--accent-color);
  margin-right:10px;
}
.header-right i{
  color:black;
  padding-right:25px;
  cursor: pointer;
}
.header-logo{
  width:30px;
  height:27px;
}
