.home-page-container {
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}
.home-page-main-banner {
  height: 120px;
  background-color: var(--background-secondary);
  padding: 0px 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page-welcome-message {
  display: flex;
  flex-direction: column;
}
.home-page-welcome-message h1 {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--header-text-color);
}
.home-page-welcome-message p {
  color: var(--body-text-color);
}
.home-page-welcome-message img {
  width: 40px;
  height: 36px;
}
.home-page-main-banner button {
  background-color: var(--accent-color);
  height: 40px;
  width: 130px;
  border-radius: 10px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.753);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.753);
  cursor: pointer;
}
.home-page-main-banner button:hover {
  background-color: var(--accent-hover);
}
.getting-started {
  margin: 0px 300px;
  height: 120px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  box-sizing: border-box;
}
.getting-started-rocket {
  background-color: var(--accent-color);
  width: 130px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.getting-started-rocket i {
  font-size: 50px;
  color: var(--background-color);
}
.getting-started-body {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  align-items: center;
}
.getting-started-text h3 {
  color: var(--header-text-color);
  font-size: 25px;
  font-weight: 500;
}
.getting-started-text p {
  color: var(--body-text-color);
  font-size: 14px;
}
.getting-started-pin img {
  width: 45px;
}
.getting-started-steps {
  padding: 0px 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.getting-started-card{
  display: flex;
  flex-direction: column;
  height:400px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  box-sizing: border-box;
  border:1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.getting-started-card-header{
  color:var(--header-text-color);
  font-weight:600 ;
  padding:7px 15px;
  border-bottom:1px solid rgba(0, 0, 0, 0.1)
}

.getting-started-card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0px 20px;
  padding-top:70px;
  
  height:200px; 
  justify-content: space-between; 
}
.getting-started-card-body i{
  color:var(--accent-color);
  font-size: 55px;;
}
.getting-started-card-body p{
  color:var(--body-text-color);
  font-size: 12px;
  text-align: center;
}
.getting-started-button{
  background-color: var(--accent-color);
  border:1px solid black;
  box-shadow: 0px 4px 1px black;
  color:white;
  width:200px;
  height:35px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.getting-started-button:hover{
  background-color: var(--accent-hover);
  box-shadow:0px 3px 1px black ;
}
.getting-started-bold{
  color:var(--header-text-color);
}

.featured-courses-banner{
  height: 120px;
  background-color: var(--background-secondary);
  display: flex;
  padding:0px 300px;
  justify-content: space-between;
  align-items: center;
}
.featured-courses-banner img{
  width: 50px;
}
.featured-courses-banner h3{
  color:var(--header-text-color);
  font-size:30px;
  font-weight: 500;
}
.featured-courses-banner p{
  color:var(--body-text-color);
  font-size: 16px;;
}
.featured-courses-cards{
  padding:0px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}